<section class="header clearfix">
  <div class="pull-left pt-10"><h1>Notifiers</h1></div>
  <div class="right-buttons">
    <button class="btn btn-sm bg-primary" {{action "showNewEditModal"}}>Add Notifier</button>
  </div>
</section>

{{notifier/notifier-table model=notifiers}}