<section class="header clearfix">
  <div class="pull-left pt-10"><h1 class="text-capitalize">{{t 'alertPage.cluster'}} {{t 'alertPage.alerts'}}</h1></div>
  <div class="right-buttons">
    {{#link-to "cluster.new" classNames="btn btn-sm bg-primary"}}{{t 'alertPage.index.stateTabs.addAlert'}}{{/link-to}}
  </div>
</section>

{{alert-table
    pageScope=pageScope
    notifiers=notifiers
    model=alerts
    targetId=null
}}